body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Poiret One', cursive;
}

header#header {
    font-size: 60px;
    font-weight: 700;
    padding: 10px;
    color: orange;
    font-family: 'VT323', monospace;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2px orange;
    cursor: url(assets/paint.png), pointer;
    overflow-x: scroll;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
    transition: box-shadow 0.5s;
    padding: 10px;
    width: 100px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

input[type=submit]:hover, input[type=reset]:hover, #btn-preview:hover, #btn-download:hover {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

input[type=submit], input[type=reset], #btn-preview, #btn-download {
    display: inline-block;
    padding: 10px;
    width: 150px;
    margin: 10px;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    background-color: orange;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    color: black;
}

input[type=number]:hover{
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

footer#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.3);
    background: white;
}
